@page "/AddUser"
@inject NavigationManager NavManager


<html>
    <title>New Member Registration</title>
    <link rel="stylesheet" href="css/AddUser.css">
    <body>
      <div class="testbox">
        <EditForm Model="NewUser" OnSubmit="Submit">
          <div class="banner">
            <h1>New User Registration</h1>
          </div>
          <div class="colums">
            <div class="item">
              <label for="fname"> First Name<span>*</span></label>
              <InputText id="fname" @bind-Value="NewUser.FirstName" required/>
            </div>
            <div class="item">
              <label for="lname"> Last Name<span>*</span></label>
              <InputText id="lname" @bind-Value="NewUser.LastName" required/>
            </div>
            <div class="item">
              <label for="email">Email Address<span>*</span></label>
              <InputText id="email" @bind-Value="NewUser.Email" required/>
            </div>
            <div class="item">
              <label for="address">Address<span>*</span></label>
                <InputTextArea id="address" @bind-Value="NewUser.Address" style="max-width: 350px; min-width:350px;" required />
            </div>
            <div class="item">
              <label for="city">City<span>*</span></label>
              <InputText id="city" @bind-Value="NewUser.City" required/>
            </div>
            <div class="item">
              <label for="state">State<span>*</span></label>
              <InputText id="state" @bind-Value="NewUser.State" required/>
            </div>
            <div class="item">
              <label for="zipcode">Zip/Postal Code</label>
              <InputText id="zipcode" @bind-Value="NewUser.ZipCode"/>
            </div>
            <div class="item">
              <label for="phone">Phone<span>*</span></label>
              <InputText id="phone" @bind-Value="NewUser.Phone" required/>
            </div>
          </div>
          <div class="btn-block">
                <button type="submit"> Add New User </button>
                <NavLink href="/Users"> <button>  Back to Users  </button> </NavLink>
          </div>
        </EditForm>
      </div>
    </body>
</html>


@code{
    public User NewUser = new();

    public void Submit()
    {
        NewUser.ID = User.counter++ + 1;
        Users.UserList.Add(NewUser);
        NavManager.NavigateTo("/Users");
    }
}