@page "/"
@page "/index"


<table>
    @{
        for(int i = 0; i<10; i++)
        {
            <tr>
                <th>@(i+1). Row:</th>
                @{
                    for (int j = 0; j < 5; j++)
                    {
                        <td>@(j+1). Column</td>
                    }
                }
            </tr>
        }
    }
</table>